html {
    background: #e3e3e3;
}

body {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 margin: 40px;
 color: rgb(0, 0, 0);
 border-top: 10px solid rgb(0, 0, 0);
 background: white;
}
table, th, td {
border: 1px solid black;
}
h1 {
font-size: 3em;
margin: 0;
text-align: center;
}
form {
    border: solid lightblue;
}
p{
line-height: 1.4em;
}
#blog {
border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}
article {
    border-bottom: 1px solid #000;
}

.figure { 
    float: none;
    margin-left: 50px;
    width: 30%;
}
section{
    display: flex;
}
article:nth-of-type(1) {
    flex: 1;
  }
article:nth-of-type(2) {
    flex: 1;
  }
nav {
    overflow: hidden;
    background: lightcyan;
}
nav {
    float: initial;
    display: block;
    color: rgb(104, 104, 175);
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
  }
  .sticky {
    position: sticky;
    top: 0;
    display: inline-block;
  }
.topbar {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
}
.topbar > li{
    display: inline-block;
}

@media (max-width: 400px) {

}
